<div class="w-full p-3">
  <div class="bg-white border rounded shadow">
    <table class="w-full p-5 text-grey-darker text-left">
      <thead>
        <tr>
          <th class="py-4 px-6 bg-grey-lighter uppercase text-sm text-grey border-b border-grey-light">Name</th>
          <th class="py-4 px-6 bg-grey-lighter uppercase text-sm text-grey border-b border-grey-light">Slug</th>
          <th class="py-4 px-6 bg-grey-lighter uppercase text-sm text-grey border-b border-grey-light">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% businesses.each do |business| %>
          <tr class="hover:bg-blue-lightest">
            <td class="py-4 px-6 border-b border-grey-light"><%= business.name %></td>
            <td class="py-4 px-6 border-b border-grey-light"><%= business.slug %></td>
            <td class="py-4 px-6 border-b border-grey-light">
              <%= link_to 'Private', private_room_root_path(admin_business_id: business.id), class: "text-grey-darker" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
