@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import 'nprogress.css';
@import 'shimmer.css';

.rich-text a {
  color: #cc1f1a;
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6,
.rich-text strong {
  color: #621b18;
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block !important;
}
