<h1>Kære <%= @user.first_name %>,</h1>

<p>
  Velkommen til Govinu! Du kan nu logge ind og få adgang til alle de fordele
  der er ved at være medlem.
</p>

<p>
  <%= link_to 'Govinu', root_url %>
</p>
